<!doctype html>
<html>

<head>
  <title>Directions</title>
  <style>
    img {
      display: block;
      margin: 10px 0;
    }

    ol {
      margin: 0;
      padding: 0;
      list-style-position: inside;
    }

    ol ol,
    ol ul {
      padding-left: 5px;
    }

    th {
      text-align: left;
      vertical-align: top;
    }

    tr {
      border-bottom: 1px solid #ddd;
    }

    table {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>

  <img src="data:image/png;base64,{{ .OverviewPolyline | polylineToB64 }}" >

  {{range .Legs}}

  <table>
    <tbody>
      <tr>
        <th>From</th>
        <td>{{ .StartAddress }}</td>
      </tr>
      <tr>
        <th>To</th>
        <td>{{ .EndAddress }}</td>
      </tr>
      <tr>
        <th>Distance</th>
        <td>{{ .Distance.HumanReadable }}</td>
      </tr>
      <tr>
        <th>Timing</th>
        <td>{{ .Duration }}
          {{if eq transitMode "transit" }}
            ({{ .DepartureTime | humanTime }} - {{.ArrivalTime | humanTime}})
          {{end}}
        </td>
      </tr>
    </tbody>
  </table>


  <h2>Summary</h2>

  <ol>
    {{range .Steps}}
    <li>{{ .HTMLInstructions }}</li>
    {{end}}
  </ol>
  
  {{if detailedDirections}}

  <hr>

  <h2>Detailed Directions</h2>

  <ul>
    {{range .Steps}}
    <br>
    <img src="data:image/png;base64,{{ .Polyline | polylineToB64 }}">
    <br>
    <li>
      {{with .TransitDetails }}
      <b style="color: {{ .Line.TextColor }}; background: {{ .Line.Color }}">{{ .Line.ShortName }}</b>
      {{end}}

      {{ .HTMLInstructions }}

      {{with .TransitDetails }}
      <ul>
        <li><b>{{ .DepartureStop.Name }}</b> ({{ .DepartureTime | humanTime }})</li>
        <li>{{ .NumStops }} stops</li>
        <li><b>{{ .ArrivalStop.Name }}</b> ({{ .ArrivalTime | humanTime }})</li>
      </ul>
      {{ end }}
      <ol>
        {{range .Steps}}
        <li>{{ .HTMLInstructions }}</li>
        {{end}}
      </ol>
    </li>
    {{end}}
  </ul>

  {{end}}

  {{end}}


</body>

</html>